.idea

__pycache__/

.env

# llamaindex
llamaindex/notebook/*
llamaindex/data/*
!llamaindex/notebook/*.ipynb

# terraform
.terraform/
*.tfstate
*.tfstate.*

# openai_playground
openai_playground/azure/inference.json

# ms_learn
ms_learn/apim_commands